.loading {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.loading img {
  max-width: 100%;
}

.flash {
  animation: flash 1.5s ease 0s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.button {
  margin-top: 2rem;
}
