.button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #f57f16;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition-duration: 0.3s;
}

.black {
  color: #333;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  background-color: transparent;
}
